<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="eu.laramartin.medsreminder">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".meds.AddMedActivity"
            android:label="@string/add_med_title"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ToolbarTheme">
        </activity>
        <activity
            android:name=".reminders.RemindersActivity"
            android:label="@string/reminders_screen_title"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ToolbarTheme">
        </activity>

        <service
            android:name=".reminders.ReminderIntentService"
            android:exported="false"/>
        <service
            android:name=".reminders.ReminderFirebaseJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>

        <activity
            android:name=".permissions.PermissionsActivity"
            android:label="@string/permissions_screen_title"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ToolbarTheme">
        </activity>

        <receiver android:name=".widget.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info"/>
        </receiver>
        <service
            android:name=".widget.WidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
    </application>
</manifest>
